div[hidden] {
  display: none;
}

button[hidden] {
  display: none;
}


html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: royalblue;
  height: 100%;
  overflow: hidden;
}

.searchBox {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  margin: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
  padding: 5px;
  align-items: center;
  text-align: center;
  z-index: 98;
  background-color: rgba(22, 17, 31, 0.2);
  float: left;
  backdrop-filter: blur(5px);
}

.coordText {
  width: 55px;
  text-align: center;
  font-size: 22px;
  margin-left: 2px;
  margin-right: 3px;
  font-family:'Times New Roman', Times, serif;
}

.coordLabel {
  display: flex;
  text-align: center;
  font-size: 20px;
  font-family:'Times New Roman', Times, serif;
  margin-left: 3px;
}

.mapDisplay {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-width: 0px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  transition: left var( --menu-transition-time ) linear;
}
.mapDisplay.showMenu {
  left: var( --menu-size );
}

/* Chrome, Safari, Opera */
@-webkit-keyframes spin {
  0% { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}

/* Standard syntax */
@keyframes spin {
  0% { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}

.iconButton {
  margin: 0px 3px 0px 3px;
  color: white;
  padding: 5px;
  border: 0px;
  background:none;
  outline : none;
  -moz-outline : none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.iconButton:hover {
  background: rgba(87, 87, 87, 0.1);
  color: yellowgreen;
}

.menuButton {
  transform: rotate(180deg);
}

.syncButton {
  animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite;
  animation-play-state:paused;
}


.unselectable{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dialog__input {
  width: 60px;
}