
:root {
  --menu-size : 200px;
  --menu-transition-time : 400ms;
}
#menuBar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all var( --menu-transition-time ) linear;
  display: block;
  -webkit-overflow-scrolling: touch;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  opacity: 0;
}

#menuBar .list {
  height: 100%;
}
#menuBar.active {
  width: var( --menu-size );
  overflow: auto;
  opacity: 1;
}

.collapsible {
  width: 100%;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(187, 187, 187);
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: rgba(255,255,255, 0.2);
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .menu__content {
    padding: 0 18px;
    display: none;
    background-color: #c0c0c08f;
  }