#settingDiv {
  width: 300px;
  height: 250px;
    position:absolute;
    left: -300px;
    top: 10vh;
   background-color: rgb(0, 0, 0,0.3);
   border-radius: 0 20px 20px 0;
    box-shadow: 3px 3px 5px gray;
    z-index: 11;
}

#settingDiv:hover {
   background-color: rgb(0, 0, 0,0.8);
   z-index: 12;
}

#settingButton {
  position: absolute;
  left: 295px;
  top: 20px;
  width: 6vh;
  height: 6vh;
  background-color: royalblue;
  opacity: 0.9;
}

#settingButton:hover {
  width: 7vh;
  height: 7vh;
}

.switchcontainer {
  margin-top: 15px;
  height: 34px;
  width: 300px;
  }

  .switchTitle {
    color: white;
    font-size: 20px;
    margin: 2px 0px 2px 5px;
    height: 30px;
    width: 220px;
    float: left;
  }
  
  /* The switch - the box around the slider */
  .switch {
    margin: 2px 0px 2px 5px;
    float: left;
  position: relative;
  width: 50px;
  height: 26px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
  width: 0;
  height: 0;
  }
  
  .switchslider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
  background-color: white;
  }
  
  .switchslider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: -2px;
  bottom: 0px;
  background-color: gray;
  -webkit-transition: .4s;
  transition: .4s;
  }
  
  input:checked + .switchslider {
  background-color: rgb(94, 253, 108);
  }
  
  input:focus + .switchslider {
  box-shadow: 0 0 1px white;
  }
  
  input:checked + .switchslider:before {
  -webkit-transform: translateX(27px);
  -ms-transform: translateX(27px);
  transform: translateX(27px);
  }
  
  /* Rounded sliders */
  .switchslider.round {
  border-radius: 33px;
  }
  
  .switchslider.round:before {
  border-radius: 50%;
  }
  
 
